<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalStoreClient.Properties.Settings.MedicalStoreDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MedicalStoreDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistrationService" />
                <binding name="BasicHttpBinding_IMedicalSystemService" />
                <binding name="BasicHttpBinding_IPurchaseHistoryService" />
                <binding name="BasicHttpBinding_IBuyMedicineService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MedicalStore/RegistrationService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistrationService"
                contract="ServiceReference1.IRegistrationService" name="BasicHttpBinding_IRegistrationService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MedicalStore/MedicalSystemService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedicalSystemService"
                contract="ServiceReference2.IMedicalSystemService" name="BasicHttpBinding_IMedicalSystemService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MedicalStore/PurchaseHistoryService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchaseHistoryService"
                contract="ServiceReference3.IPurchaseHistoryService" name="BasicHttpBinding_IPurchaseHistoryService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MedicalStore/BuyMedicineService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuyMedicineService"
                contract="ServiceReference4.IBuyMedicineService" name="BasicHttpBinding_IBuyMedicineService" />
        </client>
    </system.serviceModel>
</configuration>